
.progress{
    position: relative;
    margin: 2px;
    float:left;
    text-align: center;
  }
  .barOverflow{
    position: relative;
    overflow: hidden;
    width: 40px; height: 20px;
  }
  .bar{
    position: absolute;
    top: 0; left: 0;
    width: 40px; height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px solid #eee;   
    border-right-color: #0bf;
    border-bottom-color: #0bf;
  }